@font-face{
	font-family: 'ProximaReg';
	src: url('../font/Proxima_Nova_Regular.otf');
}

@font-face{
	font-family: 'ProximaBold';
	src: url('../font/Proxima Nova Semibold.otf');
}

html{
	border: 0;
}

a{
	text-decoration: none;
}

h1, h2, p{
	font-family: 'ProximaReg';
	font-weight: normal;
}

h3{
	font-family: 'ProximaReg';
	font-weight: lighter;
}

body{	
	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
	margin-left: 0px
}

/*General*/
.whiteText{
	color: white;
	text-decoration: none;
}

.centerText{
	text-align: center;
}

.blueBackground{
	background-color: #0B2343;
}

.textOverlay{
	position: absolute;
	margin-left: 30%;
	margin-top: 25%;
	height: 25%;
}

.yellowBox{
	display: inline-block;
	margin-right: 5%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #ECCB5E;
}

.boldText{
	font-family: 'ProximaBold';
}

/*Grids*/
.grid {
	content: "";
	display: block;
	clear: both;
}

[class^='col-'] {
	float: left;
	padding: 0; 
}

.col-1of10{
	width: 10%;
}

.col-2of10{
	width: 20%;
}

.col-3of10{
	width: 30%;
}

.col-4of10{
	width: 40%;
}

.col-5of10{
	width: 50%;
}

.col-6of10{
	width: 60%;
}

.col-7of10{
	width: 70%;
}

.col-10of10{
	width: 100%;
}


/*Header*/
.header{
	height: 10%;
}

.logo{
	margin-left: 5%;
	height: 100%;
	display: inline-block;
	float: left;
}

.catchphrase{
	display:inline-block;
	float:center;
}

.callNumber{
	display:inline-block;
	float:right;
	margin-right: 5%;
}

/*Left side of page*/
#serviceBar{
	margin: 0;
	height: 100vh;
	background-color: white;
	width: 25%;
	opacity: 0.8;
}

.serviceOverlay{
	padding-left: 15%;
}

#service0{
	margin-left: 10%;
	margin-top: 0;
	padding-top: 10%;
}
#service1{
	/*margin-top: 15%;*/
	padding-top: 12.5%;
	padding-bottom: 12.5%;

}
#service2{
	/*margin-top: 20%;*/
	padding-top: 12.5%;
	padding-bottom: 12.5%;
}
#service3{
	/*margin-top: 25%;*/
	padding-top: 12.5%;
	padding-bottom: 12.5%;
}
#service4{
	/*margin-top: 30%;*/
	padding-top: 12.5%;
	padding-bottom: 12.5%;
}
#service5{
	/*margin-top: 35%;*/
	padding-top: 12.5%;
	padding-bottom: 12.5%;
}

/*The right side of the page*/
#home{
	position: absolute;
	z-index: -5;
}

.servicePic{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -5;
}

#servicePic1{
	display: none;
}
#servicePic2{
	display: none;
}
#servicePic3{
	display: none;
}
#servicePic4{
	display: none;
}
#servicePic5{
	display: none;
}

/*Footer*/
.footer{
	background-color: #0B2343;
	height: 20%;
}

.footerNav{
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
}
.footerNav a{
	color: white;
}

.footerNav a:hover{
	border-bottom-color: #ECCB5E !important;
	border-bottom: 4px solid;
}

.textPadding5{
	padding-left: 5%;
	padding-top: 2%;
}