@font-face{
	font-family: 'ProximaReg';
	src: url('../font/Proxima_Nova_Regular.otf');
}

html{
	border: 0;
}

a{
	text-decoration: none;
}

body{
	font-family: 'ProximaReg';
	margin-top: 0px;
 	margin-right: 0px;
 	margin-bottom: 0px;
	margin-left: 0px
}

/*General*/
.whiteText{
	color: white;
}

.centerText{
	text-align: center;
}

/*Grids*/
.grid {
	content: "";
	display: block;
	clear: both;
}

[class^='col-'] {
	float: left;
	padding: 0; 
}

.col-1of10{
	width: 10%;
}

.col-2of10{
	width: 20%;
}

.col-3of10{
	width: 30%;
}

.col-4of10{
	width: 40%;
}

.col-5of10{
	width: 50%;
}

.col-6of10{
	width: 60%;
}
.col-10of10{
	width: 100%;
}


/*Header*/
.header{
	height: 10%;
}

.logo{
	margin-left: 5%;
	height: 100%;
}

/*Left side of page*/
#serviceBar{
	position: absolute;
	top: 10%;
	height: 100vh;
	background-color: white;
	width: 20%;
	opacity: 1;
}

.serviceOverlay{
	padding-left: 10%;
}

#service0{
	margin-top: 10%;
}
#service1{
	margin-top: 15%;
}
#service2{
	margin-top: 20%;
}
#service3{
	margin-top: 25%;
}
#service4{
	margin-top: 30%;
}
#service5{
	margin-top: 35%;
}

/*The right side of the page*/
#home{
	display: block;
}

.servicePic{
	width: 100vw;
	height: 100vh;
}

#servicePic1{
	display: none;
}
#servicePic2{
	display: none;
}
#servicePic3{
	display: none;
}
#servicePic4{
	display: none;
}
#servicePic5{
	display: none;
}

/*Footer*/
.footer{
	background-color: #0B2343;
	height: 20%;
}

.yellowBox{
	display: inline-block;
	margin-right: 5%;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #ECCB5E;
}

.footerNav{
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;

}

.textPadding5{
	padding-left: 5%;
	padding-top: 2%;
}